In [1]:
# Variables:
# We use variables to temporarily store data in computer’s memory.

my_Age = 27

my_weight = 70.4

my_name = "John doe"

is_working = True

# In the above example,
# • my_Age is an integer(a whole number without a decimalpoint)
# • my_weight  is a float(a number with a decimalpoint)
# • my_name is a string(a sequence of characters)
# • is_working is a boolean. Boolean values canbe True or False.

print(my_Age)

27

In [3]:
# Receiving Input
# We can receive input from the user by calling the input() function. 

birth_year = int(input("Birth year: "))

# The input() function always returns data as a string. So, 
# we’re converting the result into an integer by calling the built-in int() function.

Birth year: 24

In [4]:
# # Strings
# # We can define strings using single (‘ ‘) or double (“ “) quotes.
# # To define a multi-line string, 
# we surround our string with tripe quotes (“””).

course = "Python basics"
course[0] # returns the first character
course[1] # returns the second character
course[-1] # returns the first character from the end 
course[-2] # returns the second character from the end

'c'

In [ ]:
# Operator precedence:
# 1. parenthesis
# 2. exponentiation
# 3. multiplication / division 4. addition / subtraction

In [5]:
# Numbers and Arithmetics
# Lets have a look at some basic Mathematics in python
print(3) 
# print(4+5)
# print(10-5)
# print(3*2) 
# print(12/5)
# print(12//5)
# print(2**3) 
# print(6%2)
# print(5%2)

# Output: 3 
# Output: 9 
# Output: 5 
# Output: 6 
# Output: 2.4 
# Output: 2 
# Output: 8 
# Output: 0 
# Output: 1
    
# Printing Numerical Value
# Adding Numbers
# Subtracting Numbers
# Multiplying Numbers
# Dividing Numbers
# Dividing numbers and removing decimal points. 2 Power 3 resulting in 8
# Modulus results in 0 as no remainder Modulus results in 1 as 1 is the remainder

3

In [9]:
# Lists
# Lists are a sequence of basic data types (also known as array). For example if we wanted to store the names of fruits available in a store we could use a list. Lists can be declared with square brackets and inside the bracket we can add items with separation of commas.

myFruits = ['Orange','Apple','Mango']

# Accessing the items from a list
# The items in a list are ordered and indexed.We can access the items in a list by using their index. The index starts from 0. Therefore in our example Orange would have an index of 0, apple 1 and mango 2.To access we can use square brackets while using the name of the list. 

# Code:

print(myFruits[1]) 
    
# Result:

# Apple

Apple

In [11]:
# # Accessing the items from a list
# The items in a list are ordered and indexed.We can access the items in a list by using their index. The index starts from 0. Therefore in our example Orange would have an index of 0, apple 1 and mango 2.To access we can use square brackets while using the name of the list. 

# Code:
    
print(myFruits[1])

# Result:
    
# Apple

SyntaxError: unexpected EOF while parsing (<ipython-input-11-68d2ab444524>, line 23)

In [15]:
# # Adding and Removing Items
# # We can add items to the list and we can remove items from a list.
# To add we simply use the append method. Using append adds a value to the end of the list. 
# To remove items we can use the pop method. We can specify an index in the pop method 
# for example if we used index 2 it would remove ‘mango’ from the list.

myFruits = ['Orange','Apple','Mango']
# Code:
myFruits.append('Strawberry') 
print(myFruits) 
# myFruits.pop(2) 
# print(myFruits
      
# Result:
# ['Orange', 'Apple', 'Mango', 'Strawberry'] 
# ['Orange', 'Apple', 'Strawberry']

['Orange', 'Apple', 'Mango', 'Strawberry']

In [17]:
# # Multiple Data Types in a single List
# # The items in a list don't have to be of the same data type. 
# This means we can have integer float String boolean all in a single list.

# Code:
phoneDetails = [309835,5.3,'Samsung']

print(phoneDetails) 

# Result:
# [309835, 5.3, 'Samsung']

[309835, 5.3, 'Samsung', True]

In [20]:
# # Functions with lists
# # There are several built in functions that work with lists. 
# These functions help us find meaningful information within our lists eg. 
# the total number of items.
# # Below are a few of the commonly used functions with lists.

# # len() - returns total number of items present in a list
# # max() - returns maximum number or highest alphabet
# # min() - return minimum number of lowest alphabet
# # sorted() - sorts in ascending order by numbers or alphabets

# Code:
myFruits = ['Orange','Apple','Grapes'] 
print(len(myFruits)) 
print(max(myFruits)) 
print(min(myFruits))
print(sorted(myFruits))

# Results:
# 3
# Orange
# Apple
# ['Apple', 'Grapes', 'Orange']

3
Orange
Apple
['Apple', 'Grapes', 'Orange']

In [21]:
# # Mutability
# # Mutability means the ability to change. 
# Some data types are mutable while others are not.
# For example List is Mutable where strings are not. 
# This means after declaring,
# the list can be changed but the string cannot be changed.

# Changing item of a list

# Code:

myFruits = ['Orange','Apple','Mango']
myFruits[1] = 'Straberry' 
print(myFruits[1])

# Result: 
       
# Straberry
    
# Changing character of a String

# Code:

fruitOfTheDay = 'Manjo'
fruitOfTheDay[3] ='g' 

# Result:
# TypeError: 'str' object does not support item assignment

Straberry

TypeError: 'str' object does not support item assignment

In [22]:
# Slice that Cake (Slicing)

myFruits = ['Orange','Apple','Mango','Strawberry','Banana'] 
print(myFruits[2:4])

# # result
# ['Mango', 'Strawberry']

myFruits = ['Orange','Apple','Mango','Strawberry','Banana']
print(myFruits[2:])

# Result
# ['Mango', 'Strawberry', 'Banana']

myFruits = ['Orange','Apple','Mango','Strawberry','Banana']
print(myFruits[:2])

# # Result
# ['Orange', 'Apple']

['Mango', 'Strawberry']
['Mango', 'Strawberry', 'Banana']
['Orange', 'Apple']

In [28]:
# Tuples
# Tuples are similar to lists but they are immutable meaning they cannot be changed after their declaration. Mostly tuple elements are closely related. You can get the items in a tuple but you cannot set or assign a value to a tuple. Tuples can be declared by parentheses with commas or items with only commas.

myFruits = ('Orange','Apple','Mango')
# or
# myFruits= 'Orange','Apple','Mango'
           
           
# Accessing Tuples (GET)
# Code:
           
favFruit = myFruits[2] 
print(favFruit)
           
# Result:           
# Mango

# Assigning Tuples (SET)
           
# Code:
myFruits[2]= 'Straberry'
           
# Result:
# TypeError: 'tuple' object does not support item assignment

Mango

TypeError: 'tuple' object does not support item assignment

In [31]:
# # Sets
# # Set is a collection of unique elements. 
# It is Mutable but not ordered. The key property here is the uniqueness. 
# In other words it removes the repetition of the same elements .
# e.g. [2,2,3,5,5] would become {2,3,5}.


# Sets are written with curly brackets e.g.

mySet = {1,2,3,5}

# Lets say we gave 20 people 1 question which had 10 options to choose from (1 to 10). 
# Now these answers are stored in a list. 
# If we were interested to know only the answers that were selected we would use set.


# Code:

surveyAns = [3,6,6,5,8,3,5,1,6,9,5,1,3,6,3,1,5,8,8,9] 
optionsSelected=set(surveyAns) 
print(optionsSelected)

# Result:
# {1, 3, 5, 6, 8, 9}

{1, 3, 5, 6, 8, 9}

In [36]:
# To add a new value to the Set we can use .add method. 
# This is different from append since it will add only if the Value is not available already.

# Code:

mySet = {1,2,3,5} 
mySet.add(4)
print(mySet)

# Result:
# {1, 2, 3, 4, 5}

# Code:

mySet.add(6)
print(mySet)

# Result:
# # {1, 2, 3, 4, 5}
# # Since the value 2 is already in the set therefore the set remains unchanged

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [41]:
# Dictionaries
# Where a list is a powerful data type which allows sequential storing, 
# it lacks the element of dimensionality.
# A list has only one dimension.
# Therefore storing 2 dimentinal information in a list is not very feasible. For example the names of the phones and thrier prices. With dictionaries you can store values like in a table . Dictionaries are Mutable and unordered, therfore they can be changed after the declaration as well .
# There are two Elements of a Dictionary.
# 1. Key
# 2. Value
# Dictionaries can be written using curly brakets with the key and value seperated by colon and the items sepreated by commas


myDictionary = {'key1':'value1','key2':'value2','key3':'value3'}

# So it is like an actual dictionary where every word is the key and its meaning would be the values. 
# Let's take the example of the mobile shop . Here we want to store the names of each phone and its price.

# Code:

priceList = {'iphone8':600, 'iphone9':700, 'iphoneX':800,
'iphone11':1000}
print(priceList)

{'iphone8': 600, 'iphone9': 700, 'iphoneX': 800, 'iphone11': 1000}

In [43]:
# Accessing the value of a key
# We can access the value of a key by using square brackets along with the key itself. 

# Code:

iphone8Price = priceList['iphone8']
print(iphone8Price)

# Result:
# 600

# Assigning the values
# Dictionary Values are Mutable that means if the value of the iphoe11 decreases we can change it in the dictionary.

# Code:
priceList['iphone11'] = 900
print(priceList['iphone11'])

# Result:
# 900


# Note:
# Keys of Dictionary are Immutable
# Values of Dictionary are Mutable

600
900

In [46]:
# Nested Dictionaries
# Coming back to our mobile shop example, 
# the shop keeper would want to store details of each phone but not just with its price but with other features such as company name, 
# screen size, model number etc. In this case we can use nested Dictionaries, which simply means a dictionary inside of a dictionary.
# Let's take an example, here we will store the iphone type and then its two features price and size.


# Code
iphoneDetails = {'iphone8':{'price':600,'size':4.7}, 'iphone9':{'price':700,'size':4.7},
'iphoneX':{'price':800,'size':5.8}, 'iphone11':{'price':1000,'size':6.1}}

# Accessing the values
# The values can be accessed as before. 
# This time it will just contain another bracket with with the second key.

# Code:
iphone8Price = iphoneDetails['iphone8']['price'] 
iphone8Size = iphoneDetails['iphone8']['size'] 
print(iphone8Price,iphone8Size)

# Result:
# 600 4.7


# Assigning the values
# Code:
iphoneDetails['iphone11']['price'] = 900 
print(iphoneDetails['iphone11'])

# Result:
# {'price': 900, 'size': 6.1}

600 4.7
{'price': 900, 'size': 6.1}